### Define aliases

echo "Loading common aliases..."

alias chrome="open -a \"Google Chrome\""
alias copydir="pwd | pbcopy"
alias externalip="dig +short myip.opendns.com @resolver1.opendns.com"

cd_dir () {
	cd `pbpaste`
}


## Git aliases
echo "Loading Git aliases..."

alias gpbt="git push && git push --tags" # Push commits and tags to origin remote
alias gb="git rev-parse --abbrev-ref HEAD" # Display current branch name
alias gcb="git checkout -b" # Checkout new branch
alias gpr="git pull -r"
alias gco="git checkout"
alias gsano="git show -a --name-only"
alias gsa="git show -a"
alias ga="git add ."
alias gm="git merge --no-ff"
alias grc="git reset --hard HEAD~1"
alias gp="git remote prune"
alias gpf="git push -f"
alias gca="git commit --amend"
alias gcm="git commit -m"
alias gf="git fetch"
alias gl="git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative"
