### Define aliases

echo "Loading common aliases..."

alias chrome="open -a \"Google Chrome\""
alias copydir="pwd | pbcopy"
alias externalip="dig +short myip.opendns.com @resolver1.opendns.com"

cd_dir () {
	cd `pbpaste`
}

lowercase () { echo $1 | tr '[:upper:'] '[:lower:]' | pbcopy ;}
uppercase () { echo $1 | tr '[:lower:'] '[:upper:]' | pbcopy ;}

# VSCode
vscode () { VSCODE_CWD="$PWD" open -n -b "com.microsoft.VSCode" --args $* ;}

## Docker aliases
alias dkrlist="docker ps -aq"
alias dkrstop="docker stop $(docker ps -aq)"
alias dkrrmcont="docker rm $(docker ps -aq)"
alias dkrrmimages="docker rmi $(docker images -q)"

## Git functions
gitrecent () { git reflog | egrep -io 'moving from ([^[:space:]]+)' | awk '{ print $3 }' | awk ' !x[$0]++' | head -n5 ;}

## Git aliases
echo "Loading Git aliases..."
alias git=hub
alias gs="git status"
alias gpbt="git push && git push --tags" # Push commits and tags to origin remote
alias gb="git rev-parse --abbrev-ref HEAD" # Display current branch name
alias gcb="git checkout -b" # Checkout new branch
alias gpr="git pull -r"
alias gd="git diff --color | diff-so-fancy
"
alias gds="git diff --staged --color | diff-so-fancy"
alias gco="git checkout"
alias gsano="git show -a --name-only"
alias gsa="git show -a"
alias ga="git add ."
alias gap="git add --intent-to-add . && git add --patch"
alias gm="git merge --no-ff"
alias grc="git reset --hard HEAD~1"
alias grs="git reset --soft"
alias gau="git reset --"
alias gp="git remote prune"
alias gpf="git push --force-with-lease"
alias gca="git commit --amend"
alias gcaf="git commit --amend --no-verify"
alias gcm="git commit -m"
alias gcmf="git commit --no-verify -m"
alias gf="git fetch"
alias gr="git rebase"
alias gclean="git clean -d -fx ."
alias gst="git status"
alias gl="git log --graph --pretty=format:'%C(bold red)%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold cyan)<%an>%Creset' --abbrev-commit --date=relative"
